.elipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.calendar-wrapper {
  .calendar-header {
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;

    .actual-year {
      display: inline-block;
      margin: 0 7px;
      font-size: 1.3em;
    }
    
    .year-direction {
      color: #333;
      padding: 0;
      vertical-align: inherit;
      
      &:hover {
        color: #333;
        text-decoration: none;
      }
    }
    
    .direction-sign {
        font-size: 18px;
    }
  }
}

.calendar-modal {
  .dropdown-toggle {
    width: 266px;
    text-align: left;

    .caret {
      margin-top: 8px;
    }
  }
  .dropdown-menu {
    width: 100%;
    
    li a {
      padding-left: 12px;
    }
  }

  .list-square {
    margin-right: 5px;
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
  
    &:before {
      content: "\2589";
    }
  }
}

.calendar-table {
  margin-bottom: 15px;
  width: 100%;

  .weekend {
    color: red;
  }

  .calendar-header-month {
    background-image: -webkit-linear-gradient(#ffffff, #ffffff 6%, #f7f7f7);
    background-image: -o-linear-gradient(#ffffff, #ffffff 6%, #f7f7f7);
    background-image: linear-gradient(#ffffff, #ffffff 6%, #f7f7f7);
    background-repeat: no-repeat;

    th {
      border-bottom: none;
      padding: 5px;
      text-align: center;
    }
  }

  .calendar-header-day {
    background-color: #f7f7f7;

    th {
      text-align: center;
      font-size: 75%;
      font-weight: normal;
      // color: #a8a8a8;
      color: #555;
      border: none;
    }
  }

  .css-today {
    th {
      color: #ffffff;
    }

    &.calendar-header-day {
      background-color: #0093D2;
    }
    
    .today {
      border: 2px solid red;
      position: absolute;
      top: -1px;
      left: -1px;
      right: -1px;
      bottom: -1px;
      padding-top: 2px;
    }
  }

  .calendar-body > tr > td {
    text-align: center;
    width: 30px;
    height: 27px;
    padding: 2px;
    border: 1px solid #ddd;
    cursor: default;
    position: relative;
  }

  .selected-day {
    background-color: #e6e6e6;
    opacity: 0.4;
  }
}

.popover-content {
  .note {
    font-size: 0.85em;
    font-style: italic;
    color: #0000ff;
  }
}